<h1>Crear Comic Procedure</h1>
<form method="post">
    <label>Nombre</label>
    <input type="text" name="nombre" required class="form-control  mb-3" />
    <label>Imagen</label>
    <input type="text" name="imagen" class="form-control mb-3" />
    <label>Descripcion</label>
    <input type="text" name="descripcion" class="form-control  mb-3" />
    <button class="btn btn-primary" type="submit">Insertar</button>
</form>